language: node_js
node_js:
- '4.1'
env:
  global:
  - GH_REF: github.com/chad-autry/hex-grid-map-3D
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- npm run build
after_success:
- chmod ugo+x ./deploy-gh-pages.sh
- ./deploy-gh-pages.sh
deploy:
   provider: npm
   email: "chad.autry@gmail.com"
   api_key: "$NPM_TOKEN"
   on:
     tags: true
