'use strict';
var angular = require('angular'),
 ui_router = require('angular-ui-router'),
 jsdoc_index = require("./jsdoc_index.tpl.html");
<?js

    filenames.forEach(function(file, i) {
?>
<?js= 'var ' + file.substring(0, file.length - 5).replace(/-/g,'_') + ' = require("./'+file+'");' ?>
<?js

    });
?>
module.exports = angular.module( 'hexWidget.jsdoc', [
  ui_router,
  jsdoc_index.name
  <?js
  
      filenames.forEach(function(file, i) {
  ?>
  <?js= ', ' + file.substring(0, file.length - 5).replace(/-/g,'_') + '.name' ?>
  <?js
  
      });
?>
])

.config(function config( $stateProvider ) {
    $stateProvider
    .state('jsdoc', {
      url: "/jsdoc",
      templateUrl: "jsdoc_index.tpl.html",
      data:{ pageTitle: 'JSDoc' },
      controller: 'JsdocCtrl'
    })
    <?js
    
        filenames.forEach(function(file, i) {
    ?>
     .state('jsdoc.<?js=file.substring(6, file.length - 5)?>', {
      url: "/<?js=file.substring(6, file.length - 5)?>?anchor",
      templateUrl: "<?js=file?>",
      data:{ pageTitle: 'JSDoc' },
      controller: 'JsdocCtrl'
    })
    <?js
    
        });
    ?>
    ;

}).controller( 'JsdocCtrl', function JsdocCtrl( $state, $stateParams, $rootScope, $anchorScroll, $location, $scope ) {
      //Init variable to toggle the index on mobile
      $scope.srcroot=$rootScope.srcroot;
      $scope.indexVisibleToMobile = true;
      $scope.$on('$stateChangeSuccess', function(event, toState, toParams, fromState, fromParams){

        //We auto-expand for the base jsdoc state, and collapse for everything else
        if ($state.is('jsdoc')) {
            $scope.indexVisibleToMobile = true;
        } else {
            $scope.indexVisibleToMobile = false;
        }
      });
      $scope.gotoAnchor = function(x) {
        var newHash = x;
        if ($location.hash() !== newHash) {
          // set the $location.hash to `newHash` and
          // $anchorScroll will automatically scroll to it
          $location.hash(x);
        } else {
          // call $anchorScroll() explicitly,
          // since $location.hash hasn't changed
          $anchorScroll();
        }
      };
      
      $scope.gotoAnchor($stateParams.anchor);
})

;
