<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package') { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>

<?js if (data.kind === 'mainpage') { ?>
<article>
  <div class="col-md-4">
    <aside ng-class="indexVisibleToMobile ? '' : 'hidden-xs'">
      <nav>
        <?js= this.nav ?>
      </nav>
    </aside>
  </div>
  <div class="col-md-4">
    <section ui-view></section>
  </div>
</article>
<?js } ?>