<?js
var data = obj;
var self = this;
?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>

<?js if (data.kind === 'mainpage') { ?>
<article>
  <div class="col-md-3">
    <div class="panel panel-default">
      <!--Note: Don't care about giving mouse hover context that this is clickable since it is for mobile -->
      <div class="panel-heading visible-xs-block" ng-click="indexVisibleToMobile = ! indexVisibleToMobile">
        Index
        <i class="pull-right" ng-class="indexVisibleToMobile ? 'fa fa-minus-square' : 'fa fa-plus-square'"></i>
      </div>
      <div class="panel-body" ng-class="indexVisibleToMobile ? '' : 'hidden-xs'">
        <aside>
          <nav>
            <?js= this.nav ?>
          </nav>
        </aside>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <section ui-view></section>
  </div>
</article>
<?js } ?>